@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Pathway Extreme', sans-serif;
    background: rgb(59, 130, 246);    
    color: white;
    height: 100%;
}

.mw-parser-output {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mw-headline {
  margin-top: 2rem;
  margin-bottom: 1rem; 
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 700; 
}

.image {
  border-radius: 0.5rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.thumbcaption {

}

p {
  margin: 1rem;
}

.infobox {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  background: rgb(229, 229, 229);    
}

.mw-editsection {
  display: none;
}

a {
  color: blue;
  font-weight: bold;
}

.transition-in {
  animation: emerge 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.transition-out {
  animation: emerge 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  animation-direction: reverse;
}

@keyframes emerge {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.imagepan {
  animation: slowzoom 10s;
}

@keyframes slowzoom {
  0% {
    transform: scaleX(120%) scaleY(120%);
  }
  100% {
    transform: scaleX(100%) scaleY(100%);
  }
}

.wipein {
  animation: wipe-in 1s;
}

@keyframes wipe-in {
  0%{
    transform: translateX(-5%);
    filter: opacity(0%);
  }
  100%{
    transform: translateX(0%);
    filter: opacity(100%);
  }
}