@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Pathway Extreme', sans-serif;
    background: rgb(59, 130, 246);    
    color: white;
    height: 100%;
}

.transition-in {
  animation: emerge 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes emerge {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}